<div class="modal modal--is-active" data-role="dialog" role="dialog" aria-modal="true" aria-labelledby="password-modal-heading">
    <div class="modal__inner next-steps__content">
        <div class="modal-content page-width">
            <button type="button" class="modal__close js-modal-close text-link">
                {% include 'icon-close' %}
                <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
            </button>

            <h3>Zamów Vidle od {{ product.title }}</h3>

            <div class="rte delivery-info">
                <h4>Jak to działa?</h4>
                <ul>
                    <li><b>{{ product.title }}</b> ma 7 dni na realizację Twojej prośby.</li>
                    <li>Rachunek zostanie przesłany na wskazany przez Ciebie adres email, zgodnie z <a href="#">Informacją o dostarczeniu</a></b> </li>
                    <li>Gdy Twoja prośba zostanie zrealizowana - poinformujemy Cię mailem z video, linkiem do udostępnienia lub ściągnięcia Vidli.</li>
                    <li>Jeśli z jakiegoś powodu Twoja Vidla nie zostanie zrealizowana, zwrócimy Ci pieniądze w ciągu 5-7 dni roboczych.</li>
                </ul>
            </div>

            <form data-role="modal-form">
                <p class="line-item-property__field" data-video-for>
                    <label>To video będzie:</label>
                    <input id="radio-for-someone" type="radio" class="required" name="properties-radio" value="SOMEONE"> <span>dla kogoś</span><br>
                    <input id="radio-for-me" type="radio" class="required" name="properties-radio" value="ME" checked> <span>dla mnie</span><br>
                </p>
                <div data-form data-role="for-someone-form" class="flex hidden">
                    <div class="width-half padding-r-input">
                        <p class="line-item-property__field">
                            <label for="for-someone--for">Dla:</label>
                            <input id="for-someone--for" type="text" name="properties-for-someone--for" class="width-fluid">
                        </p>
                    </div>
                    <div class="width-half padding-r-input">
                        <p class="line-item-property__field">
                            <label for="for-someone--from">Od:</label>
                            <input id="for-someone--from" type="text" name="properties-for-someone--from" class="width-fluid">
                        </p>
                    </div>
                </div>
                <div data-form data-role="for-me-form">
                    <p class="line-item-property__field">
                        <label for="properties-for-me">Moje imię to:</label>
                        <input id="properties-for-me" type="text" name="properties-for-me">
                    </p>
                </div>
                <br>

                <p class="line-item-property__field">
                    <label>Wybierz okazję</label>
                    <select id="wybierz-okazje" name="properties-wybierz-okazje">
                        <option value="wybierz">wybierz okazję</option>
                        <option value="urodziny">urodziny</option>
                        <option value="imieniny">imieniny</option>
                        <option value="walentynki">walentynki</option>
                        <option value="dzien matki">dzień Matki</option>
                        <option value="gratulacje">gratulacje</option>
                        <option value="roast">roast</option>
                        <option value="slub">ślub</option>
                        <option value="rocznica">rocznica</option>
                        <option value="inna">inna</option>
                    </select>
                </p>

                <p class="line-item-property__field">
                    <label for="moje-wskazowki">Moje wskazówki / instrukcje dla {{ product.title }}</label>
                    <textarea class="textarea" id="moje-wskazowki" name="properties-moje-wskazowki"></textarea>
                </p>

                <p class="line-item-property__field">
                    <label for="properties-link">Dodaj link (opcjonalne)</label>
                    <input class="width-fluid" placeholder="https://ulubione-zdjecie/img1.jpg" id="properties-link" type="url" name="properties-link">
                </p>

                <p class="line-item-property__field">
                    <input type="hidden" name="properties-publication" value="No">
                    <input id="publication" type="checkbox" name="properties-publication" value="Yes">
                    <label for="publication">Nie pozwalaj na publikację tego video na vidla.pl</label>
                </p>

                <p id="modal-form-message-error" class="form-message--error hidden">Test</p>

                <button class="btn product-form__cart-submit" type="submit" id="properties-submit" name="book">
                    Bookuj za {{ product.price | money  }}
                </button>
            </form>
        </div>
    </div>
</div>

<style>
    .modal--is-active {
        z-index: 12;
        background-color: rgba(0,0,0, 0.6);
        display: flex;
        justify-content: center;
    }

    .next-steps__content {
        align-self: center;
        background-color: white;
        width: 700px;
        min-height: 500px;
        overflow: scroll;
    }

    .modal-content {
        padding-top: 70px;
        padding-bottom: 70px;
        position: relative;
    }

    .modal__close {
        position: absolute;
        padding: 25px;
    }

    .flex {
        display: flex;
    }

    .hidden {
        display: none !important;
    }

    .width-fluid {
        width: 100%;
    }

    .width-half {
        width: 50%;
    }

    .padding-r-input {
        padding-right: 16px;
    }

    .textarea {
        max-height: 100px;
        width: 100%;
    }

    .delivery-info {
        background-color: #ffd8b8;
        padding: 16px;
        margin-bottom: 24px;
    }
</style>
