<div class="page-width">
    {% if search.performed == false %}
      <div class="text-center">
        <h1 class="h2">{{ 'general.search.title' | t }}</h1>
    {% else %}
      <div class="text-center">
    {% endif %}
        <div class="grid">
          <div class="grid__item medium-up--two-fifths medium-up--push-three-tenths">
            <form action="{{ routes.search_url }}" method="get" role="search" class="search">
              <div aria-live="polite" class="form-message form-message--error search-result-error-message hide" data-search-error-message>
                <ul id="error-search-form">
                  <li>{{ 'general.search.empty_search_message' | t }}</li>
                </ul>
              </div>
  
              <div class="input-group">
                <input type="search"
                  id="SearchInput"
                  class="input-group__field search__input"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.placeholder' | t }}"
                  aria-label="{{ 'general.search.placeholder' | t }}"
                  >
                <span class="input-group__btn">
                  <button id="SearchResultSubmit" class="btn search__submit" type="submit">{{ 'general.search.submit' | t }}</button>
                </span>
              </div>
            </form>
          </div>
        </div>
  
        {% if search.performed and search.results_count == 0 %}
          <hr class="hr--small hr--invisible" aria-hidden="true" />
          <div class="rte">
            <p>{{ 'general.search.no_results_html' | t: link: routes.root_url }}</p>
          </div>
        {% endif %}
    </div>
  </div>